@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* FUNDO */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body { 
    margin: 0; 
    padding: 0; 
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}
    
#background { 
    position: fixed;
    width: 100%; 
    height: 100vh; 
    z-index: -1;
}

.container {
    height: 28rem;
    width: 19rem;
    background: rgba(255, 255, 255, 0.06);
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 1.8rem 2.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
}

.container h1 {
    font-size: 2.25rem;
    text-align: center;
}

.perguntas {
    position: relative;
    width: 100%;
    height: 1.9rem;
    margin: 0.6rem 0;
    background-color: transparent;
    border: 2px solid white;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline: none;
    font-size: 1rem;
    color: #fff;
    padding: 1.25rem 2.8rem 1.25rem 1.25rem;
}

.perguntas::placeholder {
    color: rgb(212, 212, 212);
}

#btn-calcular {
    width: 100%;
    height: 1.9rem;
    background: white;
    border: #fff;
    color: black;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1.2rem;
    transition: all .3s ease-in-out;
}

#btn-calcular:hover {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.container p {
    text-align: center;
    margin-top: 0.6rem;
    font-weight: 600;
}

